*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
}


.container {
    width: 600px;
    margin: 100px auto;
    padding: 40px;

}

.inputs{
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background-color: transparent;

}

.inputcity{
    height: 4rem;
    width: 20rem;
    background-color: transparent;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
}

.display {
    text-align: center;
    width: 520px;
    color: #4B9CD3;

}

/* Default styles for .wrapper */
.wrapper {
    margin: 0 9rem;
    background-image: url(img/bg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    margin: 50px auto;
    border-radius: 2%;
    box-shadow: 2px 2px 2px white,2px 2px 4px white,2px 2px 6px white;
}


.info h2 {
    padding: 5px 0;
    text-align: center;
    background-color: #00CED1;
    color: black;
}

.info p {
    margin: 20px 50px;
    margin-right: 20px;
    text-align: left;
    color: white;
    font-size: 23px;
}
.info i {
    color: #6699CC;
}
.info h3 {
    color: black;
}
.info i span {
    color: aqua;
}


.info h2 span {
    font-size: 26px;
    color: #9beefb;
}

.info p span {
    color: black;
    font-size: 25px;
    text-transform: capitalize;
}
.info h3 span {
    color: black;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .wrapper {
        margin: 0 2rem; /* Adjusted margin for smaller screens */
    }
}

/* Default styles for .info */
.info {
    height: 45vh;
    margin: 50px auto;
    border-radius: 2px;
    background: transparent; 
    backdrop-filter: blur(1px);
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .info {
        margin: 20px auto; /* Adjusted margin for smaller screens */
    }
}

@media screen and (max-width:500px){
    .wrapper {
        margin: 0 2rem; /* Adjusted margin for smaller screens */
    }


/* Default styles for .info */
.info {
    height: 100px;
    margin: 50px auto;
    border-radius: 2px;
    background: transparent; 
    backdrop-filter: blur(1px);
}
}

